@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/fonts.scss";

body{
    background-color: $col-gris1;
    box-sizing: border-box;
    margin: 0;
    font-family: $typo;

}

.logo-header{
    background-color: $col-blanc;
    position: relative;
    @include shadow;
    z-index: 1;
    &__img {
        width: 50%;
        margin: auto;
        padding: 30px 0 10px;
        img{
            width: 100%;
        }
    }
}


/* Accueil */

#localisation{
    background-color: $col-gris2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin: 10px 0 10px 25px;
    }
}

.diapo{
    @include padding-cote;
    text-align: center;
    @include padding-hautbas;
    h1{
        font-weight: bold;
    }
    p{
        font-weight: 300;
    }
    &__button{
        padding: 30px 0 40px 0;
        display: flex;
        justify-content: center;
        
        a{
            background: linear-gradient(to bottom, $col-ton2, $col-ton1);
            font-weight: 500;
            color: $col-blanc;
            padding: 15px 40px;
            border-radius: 50px;
            position: relative;
            z-index: 1;
            @include shadow; 
            cursor: pointer;

            &::after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;  
                left: 0;
                background: linear-gradient(to top, $col-ton2, $col-ton1);
                opacity: 0;
                z-index: -1;
                transition: opacity 350ms;
                border-radius: 50px;
            }
        
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}



.fonction{
    background-color: $col-blanc;
    @include padding-cote;
    @include padding-hautbas;
    
    &__button{
        position: relative;
        background-color: $col-gris1;
        padding: 25px 25px 25px 35px;
        margin: 25px 0 0 10px;
        border-radius: 20px;
        @include shadow;
        cursor: pointer;

        &:hover{
            background-color: $col-ton4;
            transition: all 700ms;
            & .fas{
                color: $col-ton1;
                opacity: 1;
            }
        }
        i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.5;
        }
        h3{
            font-weight: 400;
            margin: 0 0 0 40px;
        }
        &__number{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #9356DC;
            width: 25px;
            height: 25px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 500;
            left: -13px;
        }
    }
}

.restos{
    @include padding-cote;
    @include padding-hautbas;
}

.restos-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
}

.restos-cont{
    background-color: $col-blanc;
    border-radius: 20px;
    @include shadow;
    &__img {
        height: 45vh;
        img{
            width: 100%;
            height: 100%;  
            object-fit: cover;
            border-radius: 20px;
            border-radius: 20px 20px 0 0;
        }
    }
    &__text{
        padding: 17px;
        position: relative;
        h2{
            margin: 0;
            @include typo2;
        }
        p{
            margin: 0;
            margin-top: 5px;
            @include typo1;
        }
        i{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding-right: 17px;
        }
    }
}

footer{
    background-color: $col-gris3;
    color: $col-blanc;
    @include padding-cote;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-logo{
    &__img {
        width: 30%;
        img{
            filter: invert(1);
            width: 100%;
        }
    }
}

.footer-txt{
    position: relative;
    i{
        position: absolute;
    }
    p{
        margin-left: 25px;
    }

}



/* Pages de Menu */

.cont-menu{
    max-width: 1500px;
    margin: auto;
}

.fa-arrow-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 25px;
}

.fa-heart{
    font-size: 25px;
    position: absolute;
    right: 0;
    transition: opacity 500ms;
    &.fas{
        opacity: 0;
        color: $col-ton1;
        &:hover{
            opacity: 0.7;
        }
    }
    &.far{
        opacity: 0.7;
        &:hover{
            opacity: 0;
        }    

    }
}

.photo{
    position: absolute;
    z-index: -1;
    top: 13vh;
    img{
        width: 100%;
    }
}

.menu{
    @include padding-cote;
    padding-top: 10px;
    background-color: $col-gris1;
    border-radius: 40px 40px 0 0;
    margin-top: 40vh;
}

.menu-titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    h1{
        font-family: $typo-titre;
        font-size: 1.8rem;
        font-weight: normal;
    }
}

.menu-grid{
    display: grid;
    grid-template-columns: 1fr;
}

.menu-cont{
    h2{
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        font-size: 1.1rem;
        margin: 7vh 0 4vh 0;
        &::before{
            content: '';
            background-color: #99E2D0;
            height: 3px;
            width: 45px;
            top: 0;
            position: absolute;
            top: 25px;
        }
    }
    &__plat{
        background-color: $col-blanc;
        padding: 15px;
        margin: 3vh 0;
        border-radius: 20px;
        @include shadow;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        cursor: pointer;

        &:hover{
            padding: 15px 80px 15px 15px;
            transition: all 500ms;
            & > .menu-cont__plat__select {
                transform: scaleX(1);
                opacity: 1;
            }
            & .menu-cont__plat__txt {
                h3{
                    white-space: nowrap;
                    width: 180px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                p{
                    white-space: nowrap;
                    width: 180px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        &__select{
            position: absolute;
            background-color: $col-ton3;
            width: 18%;
            height: 100%;
            right: 0;
            bottom: 0;
            border-radius: 0 20px 20px 0;
            transform: scaleX(0);
            opacity: 0;
            transform-origin: right 50%;
            transition : transform 500ms, opacity 800ms;
        
            .fa-check-circle{
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.3);
            }

        }
        &__txt{
            h3{
                @include typo2;
                margin: 0;
                margin-bottom: 1vh;
            }
            p{
                margin: 0;
                @include typo1;
            }
        }
        &__prix{
            p{
                @include typo2;
                margin: 0;
            }
        }

        
    }  
}

.menu-button{
    padding: 30px 0 40px 0;
    display: flex;
    justify-content: center;
    

    a{
        background: linear-gradient(to bottom, $col-ton2, $col-ton1);
        font-weight: 500;
        color: $col-blanc;
        padding: 15px 40px;
        border-radius: 50px;
        position: relative;
        z-index: 1;
        @include shadow; 
        cursor: pointer;
        
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;  
            left: 0;
            background: linear-gradient(to top, $col-ton2, $col-ton1);
            opacity: 0;
            z-index: -1;
            transition: opacity 350ms;
            border-radius: 50px;
        }
    
        &:hover {
            &::after {
                opacity: 1;
                
            }
        }
    }
}

.loader {
    animation:spin 1.2s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:$col-ton2;
    border-top-color:$col-ton2;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;
    z-index:1;
    &:before {
      animation:spin 2s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color: $col-ton3;
      border-top-color: $col-ton3;
      box-sizing:border-box;
      content:"";
      height:16vmin;
      left:0;
      position:absolute;
      top:0;
      width:16vmin;
    }
    &:after {
      animation:spin 3s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:$col-ton1;
      border-top-color:$col-ton1;
      box-sizing:border-box;
      content:"";
      height:12vmin;
      left:2vmin;
      position:absolute;
      top:2vmin;
      width:12vmin;
    }
  }
  
  @keyframes spin {
    100% {
      transform:rotate(360deg);
    }
  }


/* ---------------------------------------- */
/* ==              RESPONSIVE               */
/*----------------------------------------- */


@media all and (min-width: 480px){

    .logo-header{
        &__img {
            width: 25%;
        }
    }

    .fonction{
        h1{
            text-align: center;
        }
        &__button{
            width: 35%;
            margin: 25px auto;
        }
    }

    .restos-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }


    .restos-cont{
        &__img{
            height: 25vh;
        }
    }

    .menu{
        margin: 50vh 10vh 10vh 10vh;
        border-radius: 40px;
    }

    .menu-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
    }

    .menu-titre{
        h1{
            font-size: 2.2rem;
        }
    }

    .footer-logo{
        &__img{
            width: 15%;
        }
    }
}

@media all and (min-width: 480px) and (max-width: 800px){
    
    .restos-grid{
        grid-template-columns: 1fr 1fr;
    }

    .menu-grid{
        grid-template-columns: 1fr 1fr;
    }
}





