@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/fonts.scss";
@import "./components/bouton.scss";

body{
    background-color: $col-gris1;
    box-sizing: border-box;
    margin: 0;
    font-family: $typo;

}

.logo-header{
    background-color: $col-blanc;
    position: relative;
    @include shadow;
    z-index: 1;
    h1{
        font-family: $typo-titre;
        text-align: center;
        font-weight: normal;
        margin: 0;
        font-size: 2.2em;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}


/* Accueil */

#localisation{
    background-color: $col-gris2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin: 10px 0 10px 25px;
    }
}

.diapo{
    @include padding-cote;
    text-align: center;
    @include padding-hautbas;
    h2{
        font-weight: bold;
    }
    p{
        font-weight: 300;
    }
    &__button{
        padding: 30px 0 40px 0;
        display: flex;
        justify-content: center;
        
        
    }
}

.fonction{
    background-color: $col-blanc;
    @include padding-cote;
    @include padding-hautbas;
    &__cont{
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }
    &__button{
        position: relative;
        background-color: $col-gris1;
        padding: 25px 25px 25px 35px;
        margin: 25px 0 0 10px;
        border-radius: 20px;
        @include shadow;
        cursor: pointer;

        &:hover{
            background-color: $col-ton4;
            transition: all 700ms;
            & .fas{
                color: $col-ton1;
                opacity: 1;
            }
        }
        i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.5;
        }
        h3{
            font-weight: 400;
            margin: 0 0 0 40px;
        }
        &__number{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #9356DC;
            width: 25px;
            height: 25px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 500;
            left: -13px;
        }
    }
}

.restos{
    @include padding-cote;
    @include padding-hautbas;
}

.restos-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    max-width: 1500px;
    margin: auto;
}

.restos-cont{
    background-color: $col-blanc;
    border-radius: 20px;
    @include shadow;
    color: black;
    text-decoration: none;
    position: relative;
    &:hover{
        transform: scale(1.03);
        transition: 500ms;
        @include shadowHover;
    }
    &__img {
        height: 35vh;
        img{
            width: 100%;
            height: 100%;  
            object-fit: cover;
            border-radius: 20px;
            border-radius: 20px 20px 0 0;
        }
        
    }
    &__text{
        padding: 17px;
        position: relative;
        h3{
            margin: 0;
            @include typo2;
        }
        p{
            margin: 0;
            margin-top: 5px;
            @include typo1;
        }
        i{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding-right: 17px;
        }
    }
    &__pastille{
        position: absolute;
        background-color: $col-ton3;
        color : $col-ton5;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 7px 12px;
        right: 13px;
        top: 13px;
        border-radius: 3px;
        font-weight: 500;
    }
}

footer{
    background-color: $col-gris3;
    color: $col-blanc;
    @include padding-cote;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-logo{
    h1{
        font-family: $typo-titre;
        font-weight: normal;
        margin: 0;
        font-size: 2em;
    }
}

.footer-menu{
    display: flex;
    flex-direction: column;
    &__txt{
        display: flex;
        align-items: center;
        position: relative;
        i{
            position: absolute;
        }
        p{
            margin-left: 30px;
            cursor: pointer;
            a{
                color: white;
                text-decoration : none;
            }
            &:hover{
                font-weight: 500;
                font-style: italic;
                transition: 300ms;
            }
        }
        

    }
    
}



/* Pages de Menu */

.cont-menu{
    max-width: 1500px;
    margin: auto;
}

.fa-arrow-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 25px;
    color: black;
}



.heart{
    padding-right: 20px;
    .fa-heart{
        font-size: 27px;
        opacity: 0.7;
    }
    .fill {
        cursor: pointer;
        &:hover {
            animation: fill 1s ease-out;
            opacity: 1;
            background: linear-gradient(to bottom, $col-ton2, $col-ton1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight:bold;
        }
    }
    
}

@keyframes fill{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}



.photo{
    position: absolute;
    z-index: -1;
    top: 10vh;

    img{
        width: 100%;
        max-height: 850px;
        object-fit: cover;
    }
}

.menu{
    @include padding-cote;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: $col-gris1;
    border-radius: 40px 40px 0 0;
    margin-top: 33vh;

}

.menu-titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    h2{
        font-family: $typo-titre;
        font-size: 1.8rem;
        font-weight: normal;
        margin-bottom: 15px;
    }
}

.menu-grid{
    display: grid;
    grid-template-columns: 1fr;
}

.menu-cont{
    h3{
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        font-size: 1.1rem;
        margin: 7vh 0 4vh 0;
        &::after{
            content: '';
            background-color: #99E2D0;
            height: 3px;
            width: 45px;
            position: absolute;
            top: 25px;
            left: 0;
        }
    }
    &__plat{
        background-color: $col-blanc;
        padding: 15px;
        margin: 3vh 0;
        border-radius: 20px;
        @include shadow;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        cursor: pointer;

        &:hover{
            padding: 15px 80px 15px 15px;
            transition: all 500ms;
            & > .menu-cont__plat__select {
                transform: scaleX(1);
                opacity: 1;
            }
            & .menu-cont__plat__txt {
                h4{
                    white-space: nowrap;
                    width: 180px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                p{
                    white-space: nowrap;
                    width: 180px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        &__select{
            position: absolute;
            background-color: $col-ton3;
            width: 18%;
            height: 100%;
            right: 0;
            bottom: 0;
            border-radius: 0 20px 20px 0;
            transform: scaleX(0);
            opacity: 0;
            transform-origin: right 50%;
            transition : transform 500ms, opacity 800ms;
        
            .fa-check-circle{
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.3);
            }

        }
        &__txt{
            h4{
                @include typo2;
                margin: 0;
                margin-bottom: 1vh;
            }
            p{
                margin: 0;
                @include typo1;
            }
        }
        &__prix{
            p{
                @include typo2;
                margin: 0;
            }
        }

        
    }  
}

.menu-button{
    padding: 30px 0 40px 0;
    display: flex;
    justify-content: center;
}


.loading {
    animation-name: opacity;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;

    &__spinner{
        animation: spin 1.5s infinite linear;
        animation-fill-mode: both;
        border:solid 2vmin transparent;
        border-radius:50%;
        border-right-color:$col-ton2;
        border-top-color:$col-ton2;
        box-sizing:border-box;
        height:20vmin;
        left:calc(50% - 10vmin);
        top:calc(50% - 10vmin);
        position: absolute;
        width:20vmin;
        z-index:1;
        
        &:before {
        animation:spin 2s infinite linear;
        border:solid 2vmin transparent;
        border-radius:50%;
        border-right-color: $col-ton3;
        border-top-color: $col-ton3;
        box-sizing:border-box;
        content:"";
        height:16vmin;
        left:0;
        position:absolute;
        top:0;
        width:16vmin;
        }
        &:after {
        animation:spin 3s infinite linear;
        border:solid 2vmin transparent;
        border-radius:50%;
        border-right-color:$col-ton1;
        border-top-color:$col-ton1;
        box-sizing:border-box;
        content:"";
        height:12vmin;
        left:2vmin;
        position:absolute;
        top:2vmin;
        width:12vmin;
        }
    }
    
  }
  
@keyframes opacity { 
    0%{ opacity:1 } 
    50%{ opacity:1 } 
    100%{ opacity:0 }
  }

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }  
    100% {
        transform:rotate(360deg);
    }
  }


.animate-bottom {
    position: relative;
    animation-name: animateBottom;
    animation-duration: 3s;
  }
  
@keyframes animateBottom { 
    0%{ bottom:-100px; opacity:0 } 
    50%{ bottom:-100px; opacity:0 } 
    100%{ bottom:0; opacity:1 }
  }
  
 
#entrees{
    position: relative;
    animation: animateLeft 1s ease-in;
}

#plats{
    position: relative;
    animation: animateLeft 1s ease-in 300ms;
    animation-fill-mode: backwards;
}

#desserts{
    position: relative;
    animation: animateLeft 1s ease-in 600ms;
    animation-fill-mode: backwards;
}

@keyframes animateLeft { 
    0%{ left:-100px; opacity:0 } 
    30%{ left:-100px; opacity:0 } 
    100%{ left:0; opacity:1 }
}


/* ---------------------------------------- */
/* ==              RESPONSIVE               */
/*----------------------------------------- */


@media all and (min-width: 480px){

    .photo{
        top: 0;
    }

    .fonction{
        h2{
            text-align: center;
        }
        &__button{
            width: 35%;
            margin: 25px auto;
        }
    }

    .restos-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }


    .restos-cont{
        &__img{
            height: 25vh;
        }
    }

    .menu{
        margin: 37vh 10vh 10vh 10vh;
        border-radius: 40px 40px 0 0;
    }

    .menu-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
    }

    .menu-titre{
        h2{
            font-size: 2.2rem;
        }
    }


}

@media all and (min-width: 480px) and (max-width: 800px){
    
    .restos-grid{
        grid-template-columns: 1fr 1fr;
    }

    .menu-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 900px){
    .fonction{
        &__cont{
            flex-direction: row;
        }
        &__button{
            margin: 25px;
        }
    }
    
}


@media all and (min-width: 800px){
    .footer-logo{
        h1{
            text-align: center;
        }
    }
    
    .footer-menu{
        justify-content: space-around;
        max-width: 750px;
        margin: auto;
        flex-direction: row;

        
    }
    
}

@media all and (min-width: 1500px){
    .restos{
        h2{
            text-align: center;
        }
    }
    
}

//

@media all and (min-width: 800px) and (max-width: 1024px){
    .menu-grid{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media all and (min-width: 480px) and (max-width: 770px){
    .menu-grid{
        grid-template-columns: 1fr;
    }
    
}





