@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/fonts.scss";

body{
    background-color: $col-gris1;
    box-sizing: border-box;
    margin: 0;
    font-family: $typo;

}

.logo-header{
    background-color: $col-blanc;
    position: relative;
    @include shadow;
    z-index: 1;
    &__img {
        width: 50%;
        margin: auto;
        padding: 30px 0 10px;
        img{
            width: 100%;
        }
    }
}

/* Accueil */

#localisation{
    background-color: $col-gris2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin: 10px 0 10px 25px;
    }
}

.diapo{
    @include padding-cote;
    text-align: center;
    @include padding-hautbas;
    h1{
        font-weight: bold;
    }
    p{
        font-weight: 300;
    }
    &__button{
        padding: 30px 0 40px 0;
        a{
            background: linear-gradient(to bottom, $col-ton2, $col-ton1);
            font-weight: 500;
            color: $col-blanc;
            padding: 15px 22px;
            border-radius: 50px;
            @include shadow;
        }
    }
}

.fonction{
    background-color: $col-blanc;
    @include padding-cote;
    @include padding-hautbas;
    &__button{
        position: relative;
        background-color: $col-gris1;
        padding: 25px 25px 25px 35px;
        margin: 25px 0 0 10px;
        border-radius: 20px;
        @include shadow;
        i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.5;
        }
        h3{
            font-weight: 400;
            margin: 0 0 0 40px;
        }
        &__number{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #9356DC;
            width: 25px;
            height: 25px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 500;
            left: -13px;
        }
    }
}

.restos{
    @include padding-cote;
    @include padding-hautbas;
}

.restos-cont{
    background-color: $col-blanc;
    border-radius: 20px;
    margin: 20px 0;
    @include shadow;
    &__img {
        height: 35vh;
        img{
            width: 100%;
            height: 100%;  
            object-fit: cover;
            border-radius: 20px;
            border-radius: 20px 20px 0 0;
        }
    }
    &__text{
        padding: 17px;
        position: relative;
        h2{
            margin: 0;
            @include typo2;
        }
        p{
            margin: 0;
            margin-top: 5px;
            @include typo1;
        }
        i{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding-right: 17px;
            opacity: 0.5;
        }
    }
}

footer{
    background-color: $col-gris3;
    color: $col-blanc;
    @include padding-cote;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-logo{
    &__img {
        width: 30%;
        img{
            filter: invert(1);
            width: 100%;
        }
    }
}

.footer-txt{
    position: relative;
    i{
        position: absolute;
    }
    p{
        margin-left: 25px;
    }

}



/* Pages de Menu */

.fa-arrow-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 25px;
}

.fa-heart{
    font-size: 25px;
}

.photo{
    position: absolute;
    z-index: -1;
    top: 13vh;
    img{
        width: 100%;
    }
}

.menu{
    @include padding-cote;
    padding-top: 10px;
    background-color: $col-gris1;
    border-radius: 40px 40px 0 0;
    margin-top: 40vh;
    &__titre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-family: $typo-titre;
            font-size: 1.8rem;
            font-weight: normal;
        }
    }
    &__cont{
        h2{
            text-transform: uppercase;
            font-weight: 300;
            position: relative;
            font-size: 1.1rem;
            margin: 7vh 0 4vh 0;
            &::before{
                content: '';
                background-color: #99E2D0;
                height: 3px;
                width: 50px;
                top: 0;
                position: absolute;
                top: 25px;
            }
        }
        &__plat{
            background-color: $col-blanc;
            padding: 15px;
            margin: 3vh 0;
            border-radius: 20px;
            @include shadow;
            h3{
                @include typo2;
                margin: 0;
                margin-bottom: 1vh;
            }
            p{
                margin: 0;
                @include typo1;
            }
        }    
    }
    &__button{
        padding: 30px 0 40px 0;
        display: flex;
        justify-content: center;
        a{
            background: linear-gradient(to bottom, $col-ton2, $col-ton1);
            font-weight: 500;
            color: $col-blanc;
            padding: 15px 40px;
            border-radius: 50px;
            @include shadow;
        }
    }
}
