@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  background-color: #f6f6f6;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.logo-header {
  background-color: #fff;
  position: relative;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.logo-header h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-weight: normal;
  margin: 0;
  font-size: 2.2em;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Accueil */
#localisation {
  background-color: #eaeaea;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#localisation p {
  margin: 10px 0 10px 25px;
}

.diapo {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}
.diapo h2 {
  font-weight: bold;
}
.diapo p {
  font-weight: 300;
}
.diapo__button {
  padding: 30px 0 40px 0;
  display: flex;
  justify-content: center;
}
.diapo__button a {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 500;
  color: #fff;
  padding: 15px 40px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.diapo__button a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f5edff;
  opacity: 0;
  z-index: -1;
  transition: opacity 350ms;
  border-radius: 50px;
}
.diapo__button a:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}
.diapo__button a:hover::after {
  opacity: 0.2;
}

.fonction {
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.fonction__cont {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: auto;
}
.fonction__button {
  position: relative;
  background-color: #f6f6f6;
  padding: 25px 25px 25px 35px;
  margin: 25px 0 0 10px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.fonction__button:hover {
  background-color: #f5edff;
  transition: all 700ms;
}
.fonction__button:hover .fas {
  color: #9356DC;
  opacity: 1;
}
.fonction__button i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
.fonction__button h3 {
  font-weight: 400;
  margin: 0 0 0 40px;
}
.fonction__button__number {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  left: -13px;
}

.restos {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.restos-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  max-width: 1500px;
  margin: auto;
}

.restos-cont {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  color: black;
  text-decoration: none;
  position: relative;
}
.restos-cont:hover {
  transform: scale(1.03);
  transition: 500ms;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}
.restos-cont__img {
  height: 45vh;
}
.restos-cont__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border-radius: 20px 20px 0 0;
}
.restos-cont__text {
  padding: 17px;
  position: relative;
}
.restos-cont__text h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
}
.restos-cont__text p {
  margin: 0;
  margin-top: 5px;
  font-weight: 300;
  font-size: 0.9rem;
}
.restos-cont__text i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 17px;
}
.restos-cont__pastille {
  position: absolute;
  background-color: #99E2D0;
  color: #227653;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 7px 12px;
  right: 13px;
  top: 13px;
  border-radius: 3px;
  font-weight: 500;
}

footer {
  background-color: #353535;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-logo h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  margin: 0;
  font-size: 2em;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}
.footer-menu__txt {
  display: flex;
  align-items: center;
  position: relative;
}
.footer-menu__txt i {
  position: absolute;
}
.footer-menu__txt p {
  margin-left: 30px;
  cursor: pointer;
}
.footer-menu__txt p a {
  color: white;
  text-decoration: none;
}
.footer-menu__txt p:hover {
  font-weight: 500;
  font-style: italic;
  transition: 300ms;
}

/* Pages de Menu */
.cont-menu {
  max-width: 1500px;
  margin: auto;
}

.fa-arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 25px;
  color: black;
}

.heart {
  padding-right: 20px;
}
.heart .fa-heart {
  font-size: 27px;
  opacity: 0.7;
}
.heart .fill {
  cursor: pointer;
}
.heart .fill:hover {
  animation: fill 1s ease-out;
  opacity: 1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.photo {
  position: absolute;
  z-index: -1;
  top: 10vh;
}
.photo img {
  width: 100%;
  max-height: 850px;
  object-fit: cover;
}

.menu {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 25px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: 33vh;
}

.menu-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu-titre h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 15px;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-cont h3 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  font-size: 1.1rem;
  margin: 7vh 0 4vh 0;
}
.menu-cont h3::after {
  content: "";
  background-color: #99E2D0;
  height: 3px;
  width: 45px;
  position: absolute;
  top: 25px;
  left: 0;
}
.menu-cont__plat {
  background-color: #fff;
  padding: 15px;
  margin: 3vh 0;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  cursor: pointer;
}
.menu-cont__plat:hover {
  padding: 15px 80px 15px 15px;
  transition: all 500ms;
}
.menu-cont__plat:hover > .menu-cont__plat__select {
  transform: scaleX(1);
  opacity: 1;
}
.menu-cont__plat:hover .menu-cont__plat__txt h4 {
  white-space: nowrap;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-cont__plat:hover .menu-cont__plat__txt p {
  white-space: nowrap;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-cont__plat__select {
  position: absolute;
  background-color: #99E2D0;
  width: 18%;
  height: 100%;
  right: 0;
  bottom: 0;
  border-radius: 0 20px 20px 0;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: right 50%;
  transition: transform 500ms, opacity 800ms;
}
.menu-cont__plat__select .fa-check-circle {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
}
.menu-cont__plat__txt h4 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 1vh;
}
.menu-cont__plat__txt p {
  margin: 0;
  font-weight: 300;
  font-size: 0.9rem;
}
.menu-cont__plat__prix p {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
}

.menu-button {
  padding: 30px 0 40px 0;
  display: flex;
  justify-content: center;
}
.menu-button a {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 500;
  color: #fff;
  padding: 15px 40px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.menu-button a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f5edff;
  opacity: 0;
  z-index: -1;
  transition: opacity 350ms;
  border-radius: 50px;
}
.menu-button a:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}
.menu-button a:hover::after {
  opacity: 0.2;
}

.loading {
  animation-name: opacity;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
.loading__spinner {
  animation: spin 1.5s infinite linear;
  animation-fill-mode: both;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #FF79DA;
  border-top-color: #FF79DA;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  top: calc(50% - 10vmin);
  position: absolute;
  width: 20vmin;
  z-index: 1;
}
.loading__spinner:before {
  animation: spin 2s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #99E2D0;
  border-top-color: #99E2D0;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
}
.loading__spinner:after {
  animation: spin 3s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #9356DC;
  border-top-color: #9356DC;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-bottom {
  position: relative;
  animation-name: animateBottom;
  animation-duration: 3s;
}

@keyframes animateBottom {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  50% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
#entrees {
  position: relative;
  animation: animateLeft 1s ease-in;
}

#plats {
  position: relative;
  animation: animateLeft 1s ease-in 300ms;
  animation-fill-mode: backwards;
}

#desserts {
  position: relative;
  animation: animateLeft 1s ease-in 600ms;
  animation-fill-mode: backwards;
}

@keyframes animateLeft {
  0% {
    left: -100px;
    opacity: 0;
  }
  30% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
/* ---------------------------------------- */
/* ==              RESPONSIVE               */
/*----------------------------------------- */
@media all and (min-width: 480px) {
  .photo {
    top: 0;
  }

  .fonction h2 {
    text-align: center;
  }
  .fonction__button {
    width: 35%;
    margin: 25px auto;
  }

  .restos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .restos-cont__img {
    height: 25vh;
  }

  .menu {
    margin: 37vh 10vh 10vh 10vh;
    border-radius: 40px 40px 0 0;
  }

  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }

  .menu-titre h2 {
    font-size: 2.2rem;
  }
}
@media all and (min-width: 480px) and (max-width: 800px) {
  .restos-grid {
    grid-template-columns: 1fr 1fr;
  }

  .menu-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 900px) {
  .fonction__cont {
    flex-direction: row;
  }
  .fonction__button {
    margin: 25px;
  }
}
@media all and (min-width: 800px) {
  .footer-logo h1 {
    text-align: center;
  }

  .footer-menu {
    justify-content: space-around;
    max-width: 750px;
    margin: auto;
    flex-direction: row;
  }
}
@media all and (min-width: 1500px) {
  .restos h2 {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
